// **************************************************************
//                  Layout containers
// **************************************************************
.container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 80px);
}

.main-container {
  margin: 0 auto;
  padding: 2rem 4rem;
  overflow: auto;
  height: auto;
  width: calc(100% - 260px);

  &::-webkit-scrollbar {
    display: none;
  }
}
