.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200;
  left: 0;
  top: 0;

  &-img-cert-img-big {
    height: 95%;
    width: 10%;
    z-index: 200;
    position: relative;
    left: 20%;
    top: 2.5%;
    display: flex;
    
    .cert-img-big {
      height: 100%;
    }
  }

  &-img-app-img-big {
    height: 95%;
    width: 10%;
    z-index: 200;
    position: relative;
    left: 35%;
    top: 2.5%;
    display: flex;

    .app-img-big {
      height: 100%;
      @include border-radius();
    }
  }

  .prev-modal {
    z-index: 200;
    position: absolute;
    left: 5%;
    top: 45%;
    color: white;
    cursor: pointer;
  }

  .next-modal {
    z-index: 200;
    position: absolute;
    right: 5%;
    top: 45%;
    color: white;
    cursor: pointer;
  }
}
