// **************************************************************
//                  Colors
// **************************************************************
// Default theme (Green)
$primary-color: #acd8b5;
$secondary-color: color-set($primary-color, 'secondary');
$third-color: color-set($primary-color, 'third');
$dark-color: color-set($primary-color, 'dark');
$light-color: color-set($primary-color, 'light');

// Theme Maroon
$primary-color-maroon: #d8b3ac;

// Theme Blue
$primary-color-blue: #acb9d8;

// Theme Grey
$primary-color-grey: #c3c3c3;

// Colors Generic
$danger-color: #dc3545;
$success-color: #28a745;

// Text colors
$text-dark-color: #111111;
$text-light-color: #f6f6f6;

// Border color
$border-light: #e2e2e2;
$border-dark: #707070;

// **************************************************************
//                  Widths
// **************************************************************
$max-width: 1100px;
$mobile-width: 420px;