.biography-container {
  max-width: $max-width;
  text-align: center;
  width: 80%;
  margin: 5rem auto 3rem;

  hr {
    width: 70%;
    margin: 2rem auto 0;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-light;
  }

  p {
    font-size: 1.5rem;
  }

  h1 {
    margin: 2rem auto;
    text-transform: uppercase;
  }

  img {
    width: 40%;
  }
}