.chat-room-container {
  .website-container {
    padding: 0 3rem;

    p {
      white-space: pre-line;
    }

    img {
      display: block;
      margin: 2rem auto;
      width: 100%;
      box-shadow: 5px 5px 15px $border-dark;
      @include border-radius(15px);
    }

    .website-link {
      color: black;
      font-style: italic;
      text-decoration: underline;
    }
  }
}
