// **************************************************************
//                  Theme Classes
// **************************************************************
// colors map
$colors: (
  'blue': (
    'primary': $primary-color-blue,
    'secondary': color-set($primary-color-blue, 'secondary'),
    'third': color-set($primary-color-blue, 'third'),
    'dark': color-set($primary-color-blue, 'dark'),
    'light': color-set($primary-color-blue, 'light'),
  ),
  'grey': (
    'primary': $primary-color-grey,
    'secondary': color-set($primary-color-grey, 'secondary'),
    'third': color-set($primary-color-grey, 'third'),
    'dark': color-set($primary-color-grey, 'dark'),
    'light': color-set($primary-color-grey, 'light'),
  ),
  'maroon': (
    'primary': $primary-color-maroon,
    'secondary': color-set($primary-color-maroon, 'secondary'),
    'third': color-set($primary-color-maroon, 'third'),
    'dark': color-set($primary-color-maroon, 'dark'),
    'light': color-set($primary-color-maroon, 'light'),
  ),
);

@each $color, $map in $colors {
  .theme-#{$color} {
    @include background-set(deep-map-get($colors, $color, 'dark'));

    &-color {
      color: deep-map-get($colors, $color, 'primary');
    }

    &-color-secondary {
      color: deep-map-get($colors, $color, 'secondary');
    }

    &-secondary {
      @include background-set(deep-map-get($colors, $color, 'secondary'));

      a.active {
        border-left: 5px solid deep-map-get($colors, $color, 'third');
        @include background-set(deep-map-get($colors, $color, 'dark'));

        .sidebar-font-item {
          color: deep-map-get($colors, $color, 'third');
        }
      }
    }

    &-light {
      @include background-set(deep-map-get($colors, $color, 'light'));
    }
  }
}
