@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  overflow-x: hidden;
}

// Global link control
a {
  text-decoration: none;
}

// Global button control
button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

// Image Styles
.round-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

// Backgrouds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-secondary {
    @include set-background($secondary-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-white {
    @include set-background(white);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
}